html { 
  background: url(../images/concrete_seamless1.png);
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.poss {
    margin: 85px 25% auto 25%;
    position: absolute;
    width: 50%;
    font-family: sans-serif;
    height: 100%;
    background-color: white;
}

.rut {
    padding: 5%;
    margin-bottom: 5%;
    vertical-align: middle;
}

.rut h1 {
    font-size: 14pt;
}

.rut img {
    width: 30px;
}

.produkt-text {
    background-color: white;
    display: block;
    font-family: sans-serif;
    width: 80%;
    margin: 9% 0% 0 9%;
    position: absolute;
    padding: 1% 1% 1% 1%; 
}

.lloo {
    
}

@media (max-width: 800px) {
    
    .poss {
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
        width: 93%;
    }
    
}