
.om {
    margin: 85px 15% 10px 15%;
    position: absolute;
    width: 70%;
    padding: 0;
}

.hh {
    padding: 1%;
    margin: 0;
    margin-bottom: 1%;
    position: relative;
    background-color: white;
    text-align: center;
}

.hh img {
    width: 98%;
}

.hh h1 {
    font-size: 2em;
    font-family: sans-serif;
}

.pf {
    padding: 1%;
    margin: 0;
    margin-bottom: 1%;
    width: 47%;
    position: relative;
    float: left;
    background-color: white;
}

.pf:nth-child(odd) {
    float: right;
    margin-left: 0;
}

.pf:nth-child(even) {
    float: left;
    margin-right: 0;
}

.rad {
    display: inline-block;
    float:left;
    box-sizing: border-box;
}

.img {
    height: 194px;
    float: left;
}

.txt {
    font-family: sans-serif;
    width: 46%;
    padding: 0 1%;
    float: left;
    margin-left: 7.6%;
}

.txt p:first-child {
    font-size: 1.5em;
}

.txt i:nth-child(2) {
    font-size: 9pt;
}
@media (max-width: 1016px) {
        .txt {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}

@media (max-width: 800px) {
    .om {
        margin: 15px 12% 3% 12%;
        width: 75%;
    }

    .pf {
        padding: 10px;
        width: auto;
        height: auto;
        margin-bottom: 2.5%;
    }
    
    .pf:first-child {
        
    }
    
    .pf:nth-child(odd) {
        
    }

    .img {
        width: 170px;
    }

    .txt {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    
    .rad {
        display: inline-block;
        box-sizing: border-box;
    }
}
