.produkt-wrapper {
    margin: 85px 15% 5% 15%;
    position: absolute;
    width: 60%;
    padding: 1%;
    background: white;
}

.produkt-text {
    padding: 1.5%;
    margin: 0;
    position: relative;
    float: left;
    background-color: white;
    border-radius: 4px;
    width: auto;
}

.produkt-text img {
    width: 100%;
}

h1 {
    font-size: 2em;
}

@media (max-width: 800px) {
    .produkt-wrapper {
        margin: 15px 12% 3% 12%;
        width: 75%;
    }
    
    .produkt-text {
        padding: 10px;
        width: auto;
        height: auto;
    }
}